body
{
    margin:0;
    padding-top:0px;
    font-family:sans serif;
    background-image:url(excellobg1.jpg);
    background-repeat:no-repeat;
    background-size:1522px 1100px;
    
}



.signupform
{
    width:300px;
    box-shadow:0 0 5px 0 rgba (0, 0,0, 0.5);
    background:white;
    padding:20px;
    text-align:center;
    align:center;
    margin-left:595px;
    margin-top:129px;
    border:4px solid green;
    border-radius:3px;
    


}
.input-box
{
    border-radius:30px;
    padding:10px;
    margin:10px 0;
    border:2px solid #BAB86C;
    outline:none;


}
.signup-button
{
    color:#BAB86C;
    width:100%;
    padding:10px;
    border-radius:20px;
    border:solid #999;
    margin:10px 0;
    outline:none;
    cursor:pointer;

}
a
{
    text-decoration: none;
}
hr
{
    margin-top:20 px;
    width:80%;


}